{% extends '@RunroomSamples/base.html.twig' %}

{% block content %}
    <div class="u-wrapper">
        <div class="list">
            <ul>
                {% for book in model.pagination.items %}
                    <div class="book-item">
                        <li>
                            <a href="{{ path('runroom_samples.basic_entities.book', {slug: book.slug}) }}">{{book.title}}</a>
                        </li>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <div class="pagination">
            {% include '@RunroomSamples/pagination.html.twig' with { pagination: model.pagination } %}
        </div>
    </div>
{% endblock %}
