parameters:
    ignoreErrors:
        -
            message: "#^Call to an undefined method Knp\\\\DoctrineBehaviors\\\\Contract\\\\Entity\\\\TranslationInterface\\:\\:#"
            path: .

        - # Ids are managed by doctrine
            message: '#^Property Runroom\\.*::\$id is never read, only written\.$#'
            path: .
