{% set locale = app.request.locale %}
{% set model = page.content %}

<!doctype html>
<html lang="{{ locale }}">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
