{% extends 'layouts/default.html.twig' %}

{% block content %}
    <div class="demo">
        <section class="demp__section u-wrapper js-form-container">
            {%- for message in app.flashes('contact_form')|filter(message => message == 'success') -%}
                <h2 class="t-h2">{{ 'form.messages.ok_title'|trans }}</h2>
                <p class="p-big">{{ 'form.messages.ok_description'|trans }}</p>
            {%- else -%}
                {% include '@Samples/Forms/components/contact-form.html.twig' with {
                    'action': path(
                        app.request.attributes.get('_route'),
                        app.request.attributes.get('_route_params')|merge({'_fragment': 'form'})
                    ),
                } %}
            {% endfor %}
        </section>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/samples/form.js') }}"></script>
{% endblock %}
