{% extends '@Samples/layout.html.twig' %}

{% block body %}
    <div class="demo__section js-form-container">
        <div class="js-form-display">
            {% include '@Samples/Forms/components/contact-form.html.twig' with {
                'class': 'js-validate form js-form-ajax',
            } %}
        </div>
        <div class="form__ok js-form-success" style="display: none" aria-hidden="true">
            <h2 class="t-h2">{{ 'form.messages.ok_title'|trans }}</h2>
            <p class="p-big">{{ 'form.messages.ok_description'|trans }}</p>
        </div>
        <div class="form__ko js-form-error" style="display: none" aria-hidden="true">
            <h2 class="t-h2">{{ 'form.messages.ko_title'|trans }}</h2>
            <p class="p-big">{{ 'form.messages.ko_description'|trans }}</p>
        </div>
    </div>
{% endblock %}
